body {
  font-family: sans-serif;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 300px;
  height: 500px; 
  border: 4px solid lightsteelblue;
  border-radius: 4px;
  padding: 15px;
  background-color: white; 
  overflow-y: scroll; /* scrollbar */
}

.app::-webkit-scrollbar {
  width: 0 !important
} /* invisible scrollbar */

#addNew { /* # to target div */
  display: flex; /* move icon */
  background-color: ghostwhite;
  border: 3px solid;
  border-radius: 2px;
  border-color: lightsteelblue;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;/* top bottom */
  
  cursor: pointer; /* changes cursor on hovering */
}

.fa-plus { /* '.' to target icon class */
  background-color: lightsteelblue;
  padding: 4px;
}

#tasks {
  display: grid;
  gap: 10px;
}

#tasks div { /* #tasks, targets all task divs */
  background-color: ghostwhite; 
  border: 3px solid lightslategrey;
  padding: 8px;
  border-radius: 2px;
  display: grid;
  gap: 4px;
}

.options { 
  justify-self: center; /* child div of tasks */
  display: flex;
  gap: 10px;
}

.options i { /* targets icons */
  cursor: pointer;
}

#msg {
  color: red;
}